<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKhamChuaBenh.Properties.Settings.QL_BENHConnectionString"
            connectionString="Data Source=NTQT;Initial Catalog=QL_BENH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>